# Ignore node_modules since they are installed during build process
**/node_modules

# Ignore any other local configuration or documentation files that aren't necessary for production
**/README.md
.dockerignore
**/Dockerfile
.git
**/.gitignore
**/.gitattributes
prettierrc
**/docker-compose.yml
**/update.sh
